* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray-100: #F4F4F5;
  --gray-700: #b8b8b9;

  --green-200: #12A286;

  --blue-700: #233164;
  --blue-800: #121A37;

  --white: #ffffff;
}

@media (max-width: 1000px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  font: 400 1rem  'Open Sans', sans-serif;
  background: var(--green-200);
  color: var(--blue-800);
}
